/* Archivo CSS personalizado, mete aquí los estilos personalizados que tengas */

/* Textos */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@600&display=swap');
/* Titulos */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Barra de navegacion */
.navbar {
  padding: 2rem;
  background-color: #f4f5f6;
}

@media screen and (max-width: 767px) {
  .navbar-brand{
    display: none;
  }
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

/*Contenedor y texto de titulo y textos */

.texto {
  text-align: center;
  font-size: 24px;
  font-family: 'Arial', sans-serif; 
  border: none;
}

.texto2 {
  font-family: 'Red Hat Mono', monospace;
  padding-top: 50px;
  border: none;
  font-size: 16px;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carrera-info h1{
  font-family: 'Press Start 2P', monospace;
  font-size: 2.5rem;
}

.carrera-info { 
  padding-left: 2rem;
  padding-right: 2rem;
}

.inicio h1, h2{
  color: rgb(137,21,48);
  font-family: 'Red Hat Mono', monospace;
}

.inicio p{
  font-family: 'Red Hat Mono', monospace;
}

.footer {
  background-color: rgb(173,27,63);
  font-family: 'Red Hat Mono', monospace;
  color: #ffff;
}
.footer a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: 'Red Hat Mono', monospace;
}

ul a{
  color: rgb(165,112,122);
  font-family: 'Red Hat Mono', monospace;
}

.carrera h1 {
  color: rgb(173,27,63);
}


.carrera {
  background-color: #f4f5f6;
  min-height: 300px;
  text-align: center;
}

@media screen and (min-width: 200px){
  .carrera{
    padding-top: 5rem;
  }
    
}

.carrera-texto {
  padding-top: 5px;
  display: flex;
  align-content: center;
  justify-content: center;
}


.video-container {
  position: relative;
  padding-bottom: 56.25%; /* Para una relación de aspecto de 16:9 */
  height: 0;
  overflow: hidden;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
